@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron index-jumbotron">
    <h1 class="display-2">Sparta Richmond</h1>
    <h2>Using ASP and Entity Frameworks</h2>
    <p class="lead">Modelling the Richmond Sparta Academy using custom databases and ASP and Entity framework</p>
    <p><a href="https://www.spartaglobal.com/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Student for Engineering 24 are displayed on the students page</h2>
        <p>
            Looking to add more students from other classes as I make progress
        </p>
    </div>
    <div class="col-md-6">
        <h2>3 Example courses are displayed on the Courses page</h2>
        <p>All courses can be added, edited and viewed on separate pages</p>
    </div>
    <div>
        <a href="https://github.com/MW-Right/"><img class="github" src="~/Images/GitHub-Mark.png" /></a>
    </div>
</div>